@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Root: Cria variaveis para facilitar e padronizar o trabalho. */

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #00030c;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #6cb0ff;
}

/* Altera os elementos gerais do projeto. */

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

/* Padroniza os elementos */

* {
    margin: 0;
    padding: 0;
}

.geral-combo-img {
    background-image: url(Imagens/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.geral-combo {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.botao-assinatura {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.botao-assinatura-sec {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
}

.titulo {
    font-size: 28px;
    font-weight: 700;
}

.imgcombo {
    margin: 1em 0 2em 0;
}

.div1 {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.b2 {
    display: inline-block;
    margin-top: 1em;
}

.txt2 {
    padding-right: 2em;
}

.dispositivos-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos-titulos {
    font-size: 48px;
}

.dispositivos-txt {
    font-size: 32px;
    font-weight: 700;
    color: var(--branco-principal);
}

.rodapé-lista {
    padding: 1em 0;
    font-size: 16px;
    display: flex;
    margin: 1em 0em;
    justify-content: center;
    list-style-type: none;
}

.lista-link a {

    list-style-type: none;
    margin-left: 1em;
    color: var(--branco-principal);
    font-size: 16px;
    text-decoration: none;
}

.lista-link a:hover {
    color: var(--botao-azul);
}

.lista-link a:active {
    color: purple;
}

.rodapé {
    justify-items: center;
    margin: 5em 3em;
    text-decoration: none;
}

.rodapé-txt {
    margin: 1em 0;
    font-size: 14px;
    text-align: center;
    color: var(--cinza-secundario);
}

.botao-assinatura:hover {
    background-color: #C0C0C0;
    color: #00030c;
}

/* Responsividade */

@media screen and (max-width: 768px) {
    .geral-combo {
        display: block;
        background-image: none;
    }

    .imgcombo {
        width: 50vw;
    }

    .div1 {
        margin: 3em 3em;
    }

.secundario {
    margin: 10em 3em;
    text-align: center;

}
}